<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Background Maker with Mathematical Patterns</title>
  <script src="/js/p5.min.js"></script>

  <script defer src="/js/main.js"></script>
  <link rel="stylesheet" href="/style/style.css">
 
</head>

<body>
  <header class="site-header">
    <div class="site-identity  ">
      <img src="/style/icon.svg" width="40px" alt="">
      <h1><a href="/">Mathematical Patterns</a></h1>
    </div>  
    
  </header>

  <style>

 
 

  </style>
  <div class="home-container">
    <div class="home-container-inner">

      <h1>Customizable <span> Mathematical Patterns</span> for your projects
      </h1>
      <div class="text-container">
        <div class="text-box">
          <img src="/style/1.svg" width="30px" alt="">
          <span >MIT License
          </span>
        </div>
        
        <div class="text-box">
          <img src="/style/2.svg" width="30px" alt="">
          <span >15+ Patterns
          </span>
        </div>
        
        <div class="text-box">
          <img src="/style/3.svg" width="30px" alt="">
          <span >PNG, JPEG, WEBP
          </span>
        </div>
      </div>
      
      <div class="para">
        An easy-to-use online tool for generating repeatable SVG patterns. Enhance your website's performance while maintaining high image quality. Tailorable Mathematical Patterns.
      </div>
    </div>
    
    <div class="canvas-container">

      <div class="canvas-container-box">

        
        <a href="/pattern/cylinder">
          <div id="cylinderGridContainer"></div>  
        </a>
      </div>


      <div class="canvas-container-box">

        <a href="/pattern/spiral">
          <div id="spiralContainer"></div>
        </a>
      </div>

      <div class="canvas-container-box">

        
        <a href="/pattern/heart">
          <div id="heartPatternContainer"></div>  
        </a>
      </div>


      <div class="canvas-container-box">

        
        <a href="/pattern/grid">
          <div id="gridContainer"></div>
        </a>
      </div>
      <div class="canvas-container-box">

        
        <a href="/pattern/fractal">
          <div id="fractalContainer"></div>
        </a>
      </div>
      <div class="canvas-container-box">

        
        <a href="/pattern/circle">
          <div id="circleContainer"></div>  
        </a>
      </div>



      <div class="canvas-container-box">

        
        <a href="/pattern/concentric">
          <div id="concentricCircleContainer"></div>  
        </a>
      </div>


      <div class="canvas-container-box">

        
        <a href="/pattern/hexagonal">
          <div id="hexagonalGridContainer"></div>  
        </a>
      </div>

      <div class="canvas-container-box">

        
        <a href="/pattern/wave">
          <div id="wavePatternContainer"></div>  
        </a>
      </div>

      <div class="canvas-container-box">

        
        <a href="/pattern/concentricsquare">
          <div id="concentricSquareContainer"></div>  
        </a>
      </div>

      <div class="canvas-container-box">

        
        <a href="/pattern/check">
          <div id="checkerboardContainer"></div>  
        </a>
      </div>
      

      <div class="canvas-container-box">

        
        <a href="/pattern/radialtriangles">
          <div id="radialTrianglesContainer"></div>  
        </a>
      </div>

      <div class="canvas-container-box">

        
        <a href="/pattern/diamondgrid">
          <div id="diamondGridContainer"></div>  
        </a>
      </div>

    


      <div class="canvas-container-box">

        
        <a href="/pattern/zigzag">
          <div id="zigzagContainer"></div>  
        </a>
      </div>

      <div class="canvas-container-box">

        
        <a href="/pattern/wavygrid">
          <div id="wavyGridContainer"></div>  
        </a>
      </div>
      <div class="canvas-container-box">

        
        <a href="/pattern/plus">
          <div id="plusSignGridContainer"></div>  
        </a>
      </div>
      <div class="canvas-container-box">

        
        <a href="/pattern/minus">
          <div id="minusignGridContainer"></div>  
        </a>
      </div>


      <div class="canvas-container-box">

        
        <a href="/pattern/triangle">
          <div id="triangleGridContainer"></div>  
        </a>
      </div>
    

      

      <div class="canvas-container-box">

        
        <a href="/pattern/trianglesgrid">
          <div id="trianglesGridContainer"></div>  
        </a>
      </div>



    </div>
  </div>

  
</body>
</html>
